@model HRProject.Models.TeamGrowthPlan
@{
    int teamId = ViewBag.TeamId;
}

<h2>Add Growth Plan</h2>

<form method="post" action="/TeamLeader/AddGrowthPlan">

    <input type="hidden" name="teamId" value="@teamId" />

    <div class="form-group">
        <label>Action</label>
        <input asp-for="Action"
               class="form-control"
               placeholder="Ex: Send Ahmed to advanced C# training" />
        <span asp-validation-for="Action" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label>Goal</label>
        <input asp-for="Goal"
               class="form-control"
               placeholder="Ex: Improve backend development skills" />
        <span asp-validation-for="Goal" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label>Deadline</label>
        <input asp-for="Deadline"
               type="date"
               class="form-control"
               value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label>Status</label>
        <select asp-for="Status" class="form-control">
            <option value="NotStarted">Not Started</option>
            <option value="InProgress">In Progress</option>
            <option value="Done">Done</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-3">Add Growth Plan</button>

    <a href="/TeamLeader/Dashboard/@teamId" class="btn btn-secondary mt-3">
        ← Back to Dashboard
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
